.navbar{
    position:fixed;
}
.navbar-brand{
    padding-right: 6%;
}
.botonmargen{
    margin-left: 3%;
    padding: 5%;
    background-color: aquamarine;
}

.margen{
    margin-top: 5%;
}
.imglogo:hover{
transform: rotate(20deg);
}
.banner:hover{

    background-color: brown;

}
.imgsize{
    justify-content: center;
    width: 50%;

}

.centrado{
   margin: 5%;
   align-content: center;

}
.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 10%;
}
.carta{
    grid-column: 1;
}
.carta2{
    grid-column: 2;
}
.carta3{
    grid-column: 3;
}



#flotante:hover{
    background-color: rgb(82, 89, 121);
}
.titulos{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(83, 25, 138);
    margin-right: 3%;
    float:left;
}
.titulos2{
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(27, 4, 48);
    margin-right: 3%;
    background-color: rgb(219, 220, 231);
}
.titulos3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(27, 4, 48);
    margin-right: 3%;
    background-color: rgb(219, 220, 231);
    font-size: 20px;
}
.texto1{
    width:80%;
    font-family:Verdana;
    font-size:150%;
    text-align:center;
    padding: 3%;
    align-items: center;
}

.box1{
    display: flex;
}

.box2{
    display: flex;
    justify-content: center;
}

.PODmise, .noti2, .noti3{
    padding: 1%;
    margin: 1%;
    border-left: rgb(218, 207, 248);
    border-width: 1px;
    border-left:solid 1px  rgb(218, 207, 248);
}


.noti2{
    border-left: rgb(218, 207, 248);
    border-width: 1px;
    border-left:solid 1px  rgb(218, 207, 248);
    border-right-color: rgb(218, 207, 248);
    border-width: 1px;
    border-right-color:solid 1px  rgb(218, 207, 248);
}
.box3{
display: flex;
}
/*imagenes dentro de las noticias*/
.imgpodmise{
margin-left: 10%;
}
.imgaspi{
    margin-left: 30%;
}
#flotante{
    float: left;
    margin: 20px;
    padding: 2%;
}
.facepm, .instapm, .mailpm{
    font-size: 20px;
}

.face, .insta, .mail{
    font-size: 36px;
    margin: 2%;
}

.logorevdigital:hover{
    transition: 2s ease-in;
    transform: translateX(200px);
    transform: rotate(75deg);
    transform: scale(2);
}
/*pagina formulario*/

.nav1{
    padding: 2%;
}
.formulario{
    margin-top: 10%;
margin-left: 2%;
    background-color: #a9f4db;
    padding: 2%;
    
}
.linea{
    border: solid 1px azure;
border-bottom: 1px;
}

/*pagina mision*/

.homeico{
    font-size: 50px;
}
.video{
    text-align: center;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 34px;

}
.h3{
    font-family: 'Ubuntu', sans-serif;
}
/*esta fuente es para la descripcion*/
.imgmvv:hover{
    background-color: blue;
}
.mvv{
    font-size: 18px;
 text-align:justify;
 display: flex;

}
/*esta imagen es el logo*/
.imgmvv{
    width: 30%;
    flex-direction:column;
    padding: 2%;
}