.navbar{
    width: 75%;
}
.navbar:hover{
    border-color: rgb(188, 187, 236);
    border-style: solid;
}
.navbar-brand{
    padding-right: 6%;
}
.botonmargen{
    margin-left: 3%;
    padding: 5%;
    background-color: aquamarine;
}

.imglogo:hover{
transform: rotate(20deg);
}
.banner:hover{

    background-color: brown;
}

/*pagina formulario*/

.formhead{
    margin-top: 5%;
    text-align: center;
}